@model AnimesModel
@{
    ViewData["Title"] = "Animes";
}

<div class="text-center">
    <h1 class="display-4">Veja todas as informações de seus aniimes favvoritos:</h1>

    <ul>
        <li>
            Título: @Model.Titulo
            Quantidade de Episódios: @Model.QuantidadeEp
            Data de Lançamento: @Model.DataLancamento
            <img src="https://br.web.img3.acsta.net/r_1920_1080/pictures/16/04/11/16/56/089875.jpg" alt="Foto Naruto">
        </li>
    </ul>
    
</div>