@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo, você nos encontrou!</h1>
    <p>Aqui você terá acesso a informações sobre suas animações favoritas.</p>
</div>
